table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

thead {
  border-bottom: 1px solid #ddd;
}

th, td {
  border: none !important;
}

tr:nth-child(even) {background-color: #5b5b5b;}

.moonlogo {
  width: 70%;
  margin: 0 auto;
  display: block;
  max-width: 400px;
}

.footerlogo {
  width: 100px;
  opacity: 0.3;
}

.post-year {
  width: 140px;
}

.breadcrumb {
  color: #9C9C9C;
  text-decoration: underline dotted;
}

.eventnav {
  text-decoration: underline dotted;
}

.previous {
  text-align: left;
  width: 50%;
}

.next {
  text-align: right;
  width: 50%;
  float: right;
}

.nextprev {
  width: 100%;
}

@font-face {
    font-family: 'jenriv';
    src: url('jenrivtitling-regular-webfont.woff2') format('woff2'),
         url('jenrivtitling-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, .site-branding {
font-family: jenriv !important;
}

.eventinfo {
  border: 1px solid grey;
  padding: 20px;
  min-height: 200px;
}

.ticket-btn {
  border: 1px solid black !important;
  background-color: #199319;
  padding: 10px;
  color: white;
  border-radius: 5px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px; 
}

@media screen and (min-width: 650px) {
  .image-section {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
  }
}

@media screen and (max-width: 650px) {
  .image-section {
    width: 100%;
    border: 1px solid black;
    float: none;
    margin-right: 0px;
  }
}
