	<footer id="site-footer" class="section-inner thin animated fadeIn faster">
		<a href="/"><img src="/images/name-w.svg" class="footerlogo"></img></a>
		</br>
		</br>
		<p>&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>{{ .Site.Params.footerCopyright | safeHTML }}</p>
		<p>
		</p>
	</footer>
